<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
      <li><a href="/about/mpr">Michael</a></li>
      <li><a href="/about/santhosh">Santhosh</a></li>
  </ul>
</li>