 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Statistics
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/flightstats">Flight Duration</a></li>
          <li><a class="dropdown-item" href="/planestats">Fuel Capacity</a></li>
         <li> <a class="dropdown-item" href="/pilotstats">Hours Flown</a></li>
  </ul>

  </li>