<br/>
<br/>
<h2>Pilot details</h2>
<br/>
<br/> ID:<%=  pilot._id %>
<br> First Name: <%=pilot.firstName%>
<br/>Last Name: <%=pilot.lastName%>
<br/>Hours Flown: <%=pilot.hoursFlown%>
<br/>Current: <%=pilot.isCurrent%>            <br/>
<br/>
<form method="get" action="/pilot">
              <input type="submit" value="Return to list" class="btn btn-caution" />
</form>