<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" value="<%= pilot.lastName %>" required>
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" value="<%= pilot.firstName %>">
    </div>
    <div class="form-group">
      <label for="hoursFlown">Hours Flown</label>
      <input onchange="onAgeChange()" type="number" class="form-control" id="hoursFlown" name="hoursFlown" value="<%= pilot.hoursFlown %>" required>
    </div>
     <div class="form-group">
      <label for="isCurrent">Is Current?</label>
      <input onchange="onAgeChange()" type="boolean" class="form-control" id="isCurrent" name="isCurrent" value="<%= pilot.isCurrent %>" required>
    </div>
  </div>
</div>
<hr>


</div>



<!-- PUT CLIENT SIDE CODE HERE -->
<script>  

  // function toCurrency(amount) 

  // https://gist.github.com/kylefox/780065
  function toCurrency(amount) {
    return "$" + amount.toFixed(2);
  };

  // function toCurrencyInt(amount) 
  function toCurrencyInt(amount) {
    return "$" + amount.toFixed(0);
  };

  // Add  .toCurrency() method to all Numbers
  Number.prototype.toCurrency = function () {
    return toCurrency(this);
  };

  // Add  .toCurrencyInt() method to all Numbers
  Number.prototype.toCurrencyInt = function () {
    return toCurrencyInt(this);
  };

  function onAgeChange() {
    const newAge = parseFloat($("input[name=age]").val());
    let price = 75
    if (newAge == 1) {
      price = 100
    }
    $("#pilotCost").html(price.toCurrencyInt());
  }

  // window.onload = a function that will call all update functions to display calculated values
  window.onload = function () {
    onAgeChange();
  }

  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>