<br/>
<br/>
<h2>Flight Details</h2>
<br/>
  ID: <%=  flight._id %>
  <br> Name: <%=flight.name%>
  <br/> Starting Point: <%=flight.startingPoint%>
  <br/> Ending Point: <%=flight.endingPoint%>
  <br/> Starting Time: <%=flight.startingTime%>
  <br/> Duration (hours): <%=flight.durationHours%>
  <br/> # Passengers: <%=flight.numPassengers%> 
  <br/> Pilot Id: <%=flight.pilotId%>  
  <br/> Plane Id: <%=flight.planeId%>   
<br/>
<br/>
<form method="get" action="/flight">
  <input type="submit" value="Return to list" class="btn btn-caution" />
</form>