<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= flight.name %>" required>
    </div>
    <div class="form-group">
      <label for="startingPoint">Starting Point</label>
      <input type="text" class="form-control" id="startingPoint" name="startingPoint" value="<%= flight.startingPoint %>">
    </div>
    <div class="form-group">
      <label for="endingPoint">Ending Point</label>
      <input onchange="onAgeChange()" type="text" class="form-control" id="endingPoint" name="endingPoint" value="<%= flight.endingPoint %>" required>
    </div>
    <div class="form-group">
      <label for="startingTime">Starting Time</label>
      <input onchange="onAgeChange()" type="text" class="form-control" id="startingTime" name="startingTime" value="<%= flight.startingTime %>" required>
    </div>
    <div class="form-group">
      <label for="durationHours">Duration (hours)</label>
      <input onchange="onAgeChange()" type="number" class="form-control" id="durationHours" name="durationHours" value="<%= flight.durationHours %>" required>
    </div>
     <div class="form-group">
      <label for="numPassengers">Number of Passengers</label>
      <input onchange="onAgeChange()" type="number" class="form-control" id="numPassengers" name="numPassengers" value="<%= flight.numPassengers %>" required>
    </div>
    <div class="form-group">
      <label for="pilotId">Pilot Id</label>
      <input onchange="onAgeChange()" type="number" class="form-control" id="pilotId" name="pilotId" value="<%= flight.pilotId %>" required>
    </div>
    <div class="form-group">
      <label for="planeId">Plane Id</label>
      <input onchange="onAgeChange()" type="number" class="form-control" id="planeId" name="planeId" value="<%= flight.planeId %>" required>
    </div>
  </div>
</div>
<hr>


<!-- PUT CLIENT SIDE CODE HERE -->
<script>  

  // function toCurrency(amount) 

  // https://gist.github.com/kylefox/780065
  function toCurrency(amount) {
    return "$" + amount.toFixed(2);
  };

  // function toCurrencyInt(amount) 
  function toCurrencyInt(amount) {
    return "$" + amount.toFixed(0);
  };

  // Add  .toCurrency() method to all Numbers
  Number.prototype.toCurrency = function () {
    return toCurrency(this);
  };

  // Add  .toCurrencyInt() method to all Numbers
  Number.prototype.toCurrencyInt = function () {
    return toCurrencyInt(this);
  };

  function onAgeChange() {
    const newAge = parseFloat($("input[name=age]").val());
    let price = 75
    if (newAge == 1) {
      price = 100
    }
    $("#puppyCost").html(price.toCurrencyInt());
  }

  // window.onload = a function that will call all update functions to display calculated values
  window.onload = function () {
    onAgeChange();
  }

  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>