<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      
      <br/>
      <h2>Pilot Statistics </h2>
      <br/>
  <table border="1">
  <tr><td>Mean:</td><td><%=mean%></td></tr>
  <tr><td>Minimum:     </td><td><%=min%></td></tr>
  <tr><td>Maximum:     </td><td><%=max%></td></tr>

  </table>
     
    </div>
    </div>
  </div>
</div>